<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Favorite Links</h1>
            <h3 class="mb-5">
                <em>Store your favorites links</em>
            </h3>
            {{#unless  user}}
            <a href="/singin" class="btn btn-primary">Let's go</a>
            {{/unless }}
        </div>
    </header>
</main>